/*Style for even div.line*/

.line {
    
    position: absolute;
    top: 39px;

    border: 1px solid #ca5e58;
    background-color: #ca5e58;
  
}






/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > tr:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > tr:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline > td .line {
    display: none;
  }
}


/* tambahan*/

.menew-3 {

    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

    z-index: 99;
}
.tr-style {


    height: 50px;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
}

/* .thstyle {


} */